Neste notebook vamos ler o modelo escolhido da Random Florest

In [218]:
import mlflow
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

Definir a directoria onde as experiencias são guardadas

In [219]:
from pathlib import Path

uri = "../mlruns"

Path(uri).mkdir(parents=True, exist_ok=True)

mlflow.set_tracking_uri(uri)

In [220]:
# Fazer load da versão do modelo "Random_Forest" que registamos no notebook anterior
# Têm de mudar a versão de acordo com quantas versões registaram.

model_name = "Decision_Trees"
model_version = "1"
f"models:/{model_name}/{model_version}"

'models:/Decision_Trees/1'

In [221]:
model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")
model

mlflow.pyfunc.loaded_model:
  artifact_path: Decision_Trees
  flavor: mlflow.sklearn
  run_id: bf91d29797694b09a930b63e2e945bbb

Vamos usar o modelo para fazer previsões

In [222]:
data_path = '../data/rumos_bank_test.csv'
df = pd.read_csv(data_path)

In [223]:
"""scaler = MinMaxScaler()

features_names = df.columns

df2 = scaler.fit_transform(df)
df2 = pd.DataFrame(df, columns = features_names)

df = scaler.transform(df)
df = pd.DataFrame(df, columns = features_names) """

'scaler = MinMaxScaler()\n\nfeatures_names = df.columns\n\ndf2 = scaler.fit_transform(df)\ndf2 = pd.DataFrame(df, columns = features_names)\n\ndf = scaler.transform(df)\ndf = pd.DataFrame(df, columns = features_names) '

In [224]:
input_data = df.loc[df['default.payment.next.month'] == 1].sample(1000)
#input_data=df.sample(10)
input_data

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
2967,80000.0,1,1,2,56,0,0,0,0,0,...,63373.0,20324.0,23749.0,3400.0,2983.0,1501.0,5000.0,5000.0,5000.0,1
4886,150000.0,2,2,2,23,0,0,0,0,0,...,147218.0,146817.0,103651.0,6380.0,4570.0,4500.0,5000.0,3300.0,1300.0,1
1307,450000.0,1,1,2,36,-1,-1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3801,20000.0,2,1,2,31,3,2,2,2,2,...,8560.0,8274.0,9135.0,0.0,2869.0,305.0,0.0,1000.0,1000.0,1
5225,300000.0,1,1,1,58,1,2,2,2,2,...,165556.0,169250.0,172804.0,6000.0,0.0,12000.0,6500.0,6500.0,6500.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,340000.0,1,3,2,34,0,0,0,0,0,...,248984.0,251047.0,255303.0,16040.0,14000.0,11000.0,9200.0,10000.0,9500.0,1
2567,320000.0,2,1,1,38,2,2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4660,50000.0,1,2,2,43,1,2,2,0,0,...,44901.0,45844.0,48385.0,2021.0,0.0,1596.0,1655.0,3684.0,0.0,1
3312,490000.0,1,1,1,29,-1,-1,-1,-1,0,...,230.0,115.0,113.0,109.0,1381.0,230.0,0.0,113.0,0.0,1
1085,30000.0,2,2,2,22,2,0,0,0,0,...,28070.0,29402.0,29854.0,1420.0,1762.0,1800.0,2089.0,1059.0,1123.0,1

In [225]:
input = input_data.drop("default.payment.next.month", axis=1)
input

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
2967,80000.0,1,1,2,56,0,0,0,0,0,...,84848.0,63373.0,20324.0,23749.0,3400.0,2983.0,1501.0,5000.0,5000.0,5000.0
4886,150000.0,2,2,2,23,0,0,0,0,0,...,146958.0,147218.0,146817.0,103651.0,6380.0,4570.0,4500.0,5000.0,3300.0,1300.0
1307,450000.0,1,1,2,36,-1,-1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3801,20000.0,2,1,2,31,3,2,2,2,2,...,8541.0,8560.0,8274.0,9135.0,0.0,2869.0,305.0,0.0,1000.0,1000.0
5225,300000.0,1,1,1,58,1,2,2,2,2,...,156171.0,165556.0,169250.0,172804.0,6000.0,0.0,12000.0,6500.0,6500.0,6500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5512,340000.0,1,3,2,34,0,0,0,0,0,...,285399.0,248984.0,251047.0,255303.0,16040.0,14000.0,11000.0,9200.0,10000.0,9500.0
2567,320000.0,2,1,1,38,2,2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4660,50000.0,1,2,2,43,1,2,2,0,0,...,44326.0,44901.0,45844.0,48385.0,2021.0,0.0,1596.0,1655.0,3684.0,0.0
3312,490000.0,1,1,1,29,-1,-1,-1,-1,0,...,1375.0,230.0,115.0,113.0,109.0,1381.0,230.0,0.0,113.0,0.0
1085,30000.0,2,2,2,22,2,0,0,0,0,...,27032.0,28070.0,29402.0,29854.0,1420.0,1762.0,1800.0,2089.0,1059.0,1123.0

In [226]:
#Para conseguirmos fazer o predict é preciso passar as colunas do tipo int a float
input = input.astype({col: 'float64' for col in input.select_dtypes(include=['int64']).columns})

In [227]:
input.dtypes

LIMIT_BAL    float64
SEX          float64
EDUCATION    float64
MARRIAGE     float64
AGE          float64
PAY_0        float64
PAY_2        float64
PAY_3        float64
PAY_4        float64
PAY_5        float64
PAY_6        float64
BILL_AMT1    float64
BILL_AMT2    float64
BILL_AMT3    float64
BILL_AMT4    float64
BILL_AMT5    float64
BILL_AMT6    float64
PAY_AMT1     float64
PAY_AMT2     float64
PAY_AMT3     float64
PAY_AMT4     float64
PAY_AMT5     float64
PAY_AMT6     float64
dtype: object

In [228]:
print(model)

mlflow.pyfunc.loaded_model:
  artifact_path: Decision_Trees
  flavor: mlflow.sklearn
  run_id: bf91d29797694b09a930b63e2e945bbb

In [229]:
print(input.dtypes)
print(input.head())

LIMIT_BAL    float64
SEX          float64
EDUCATION    float64
MARRIAGE     float64
AGE          float64
PAY_0        float64
PAY_2        float64
PAY_3        float64
PAY_4        float64
PAY_5        float64
PAY_6        float64
BILL_AMT1    float64
BILL_AMT2    float64
BILL_AMT3    float64
BILL_AMT4    float64
BILL_AMT5    float64
BILL_AMT6    float64
PAY_AMT1     float64
PAY_AMT2     float64
PAY_AMT3     float64
PAY_AMT4     float64
PAY_AMT5     float64
PAY_AMT6     float64
dtype: object
      LIMIT_BAL  SEX  EDUCATION  MARRIAGE   AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
2967    80000.0  1.0        1.0       2.0  56.0    0.0    0.0    0.0    0.0
4886   150000.0  2.0        2.0       2.0  23.0    0.0    0.0    0.0    0.0
1307   450000.0  1.0        1.0       2.0  36.0   -1.0   -1.0   -2.0   -2.0
3801    20000.0  2.0        1.0       2.0  31.0    3.0    2.0    2.0    2.0
5225   300000.0  1.0        1.0       1.0  58.0    1.0    2.0    2.0    2.0

      PAY_5  ...  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  \
2967    0.0  ...    84848.0    63373.0    20324.0    23749.0    3400.0
4886    0.0  ...   146958.0   147218.0   146817.0   103651.0    6380.0
1307   -2.0  ...        0.0        0.0        0.0        0.0       0.0
3801    2.0  ...     8541.0     8560.0     8274.0     9135.0       0.0
5225    2.0  ...   156171.0   165556.0   169250.0   172804.0    6000.0

      PAY_AMT2  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
2967    2983.0    1501.0    5000.0    5000.0    5000.0
4886    4570.0    4500.0    5000.0    3300.0    1300.0
1307       0.0       0.0       0.0       0.0       0.0
3801    2869.0     305.0       0.0    1000.0    1000.0
5225       0.0   12000.0    6500.0    6500.0    6500.0

[5 rows x 23 columns]

In [230]:
model.predict(input)
#model.predict_proba(input)

array([0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1])

In [231]:
dependencies = mlflow.pyfunc.get_model_dependencies(f"models:/{model_name}/{model_version}")
print(dependencies)

2025/04/10 20:51:07 INFO mlflow.pyfunc: To install the dependencies that were used to train the model, run the following command: '%pip install -r C:\Users\ricardo.antunes\Documents\Operacionalização Machine Learning\rumos_bank\mlruns\756768194131778885\bf91d29797694b09a930b63e2e945bbb\artifacts\Decision_Trees\requirements.txt'.

C:\Users\ricardo.antunes\Documents\Operacionalização Machine Learning\rumos_bank\mlruns\756768194131778885\bf91d29797694b09a930b63e2e945bbb\artifacts\Decision_Trees\requirements.txt

In [232]:
#%pip install -r "C:\Users\rjant\OneDrive\Documentos\Data Science\Operacionalização de Machine Learning\OML-trabalho\OML-trabalho-master\OML-trabalho\mlruns\750273558749823695\c8a629af2db54118baf62f70b17d2b56\artifacts\Random_Forest\requirements.txt"

In [233]:
#import mlflow.pyfunc
#model = mlflow.pyfunc.load_model(f"models:/{model_name}/{model_version}")

In [234]:
#predictions = model.predict(input)  # Replace `X_test` with your test data
#print(predictions)